body {
    background-color: #000000  ;
  }
p{
    color:white;
}
a{
    color:black; 
}
h1{
    color: #FFC300 
}
ul{
    color: #FFC300 

}
p1{
    color: #FFC300 
}
li{
    color: white

}
h4{
    color:white;
}
p2{
    color:white;
}